{% extends "layout.html" %}
{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="./static/login.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock head %}



{% block content %}
    <form method="POST">
      {{ form.hidden_tag() }}
      <label>
        <p class="label-txt">{{ form.username.description }}</p>
        {{ form.username(class="input") }}

        {% if form.username.errors %}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label>
        <p class="label-txt">{{ form.password.description }}</p>
        {{ form.password(class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <div>
        {{ form.submit(class="button_class")}}
      </div>


      <div>
        <small>
          <p class="register-text">Need an account?<a href="{{ url_for('register') }}">  Register</a></p>
        </small>
      </div>

    </form>
{% endblock content %}
